div#index(ng-init="init()") index
.row
	.col-lg-2
		treecontrol.tree-light(tree-model='treedata', node-children='children', on-selection='showSelected(node)', selected-node='node2')
			| {{node.label}}
	.col-lg-5
		<div ui-ace="{useWrapMode : true,showGutter: false,theme:'twilight',mode: 'tex',onLoad: aceLoaded,onChange: aceChanged}"></div>
	.col-lg-5
