doctype html
html#ng-app(xmlns:ng='http://angularjs.org', ng-app='app', data-ng-csp='data-ng-csp', lang='cs', dir='ltr', ng-controller='AppCtrl', ng-init='init()')
  head
      title
      style(type='text/css')
        [ng-cloak] {display: none;}
      script(type='text/javascript').
        document.write('<base href="' + document.location + '" />')
      meta(name='viewport', content='user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0')
      meta(charset='UTF-8')
      //INJECT:css (js)
      //END INJECT

      //INJECT:js (js)
      //END INJECT

  body.
    create