div#filter
  .side

  .content
    .sort
      .byDate
      .byPrice
      .byTitle
    .genre
    .price
    .pages
    .author
div#index
  .content
    slider(slide-width="200" state="book.detail")
    //- book(ng-repeat="(i, book) in books" title="book.title" price="book.price" author="book.author")